<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre Nosotros</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Acerca de nosotros</h1>
  <p style="text-align: justify;">En nuestra aplicación web [nombre de la aplicación/web], nos enorgullece ofrecerte información completa y confiable sobre el cuidado, atención, salud y comportamiento de tus queridas mascotas: perros y gatos. Nuestro objetivo es brindarte recursos útiles y prácticos para que puedas cuidar de manera óptima a tus peludos compañeros. Ya sea que estés buscando consejos para la alimentación adecuada, pautas de entrenamiento, recomendaciones de salud o simplemente deseas profundizar tu conocimiento sobre estas adorables criaturas, estamos aquí para ayudarte.</p>
  <p style="text-align: justify;">Confía en nuestro contenido actualizado, basado en evidencia y creado por expertos en el cuidado animal. En nuestra app, tu mascota siempre estará en buenas manos.</p>
</ion-content>
