// ion-card-content.md {
//     margin-bottom: 16px !important;
//     // font-size: 40px !important;
// }

.title-card-list {
 font-size: 22px !important;   
}

.title-card-content {
    font-size: 14px;
    text-align: justify;
}

.ion-card-list {
    margin-inline: 0px;
}

.inner-html .span {
    // span{
      color: #F00 !important;
    // }
    // div{
    //   color: #0F0;
    // }
  }
