<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Política de Privacidad</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <p style="text-align: justify;">En [nombre de la aplicación/web], nos comprometemos a proteger la privacidad de nuestros usuarios. Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos la información personal que puedas proporcionarnos a través de nuestra app.</p>
  <h1>Acerca de nosotros</h1>
  <p style="text-align: justify;">Nuestra app recopila información de manera limitada y no personalizada. No solicitamos ni requerimos ningún tipo de registro o inicio de sesión para acceder a nuestros contenidos. No recopilamos datos personales como nombres, direcciones de correo electrónico, números de teléfono u otra información personal identificable.</p>
  <h1>Uso de la información</h1>
  <p style="text-align: justify;">La información recopilada en nuestra app se utiliza únicamente con fines informativos y de mejora de nuestros servicios. Utilizamos tecnologías de seguimiento y análisis para recopilar datos agregados y anónimos sobre el uso de la aplicación, como estadísticas de visitas, páginas visitadas y tiempo de permanencia en la plataforma. Estos datos nos ayudan a comprender mejor las necesidades de nuestros usuarios y a mejorar la calidad de nuestros contenidos.</p>
  <h1>Divulgación de información</h1>
  <p style="text-align: justify;">No compartimos, vendemos ni alquilamos la información recopilada en nuestra app con terceros. Toda la información recopilada se utiliza exclusivamente dentro de nuestra organización con el propósito de mejorar nuestros servicios y proporcionar contenidos relevantes a nuestros usuarios.</p>
  <h1>Divulgación de información</h1>
  <p style="text-align: justify;">Implementamos medidas de seguridad técnicas y organizativas adecuadas para proteger la información recopilada en nuestra app contra el acceso no autorizado, la divulgación, la alteración o la destrucción. Sin embargo, debes tener en cuenta que ninguna transmisión de datos a través de Internet o cualquier sistema de almacenamiento electrónico puede garantizar una seguridad absoluta.</p>
  <h1>Enlaces a otros sitios web</h1>
  <p style="text-align: justify;">Nuestra app puede contener enlaces a otros sitios web de terceros. No nos responsabilizamos de las prácticas de privacidad o el contenido de estos sitios web. Te recomendamos que revises las políticas de privacidad de cualquier sitio web al que accedas desde nuestra aplicación.</p>
  <h1>Cambios en la Política de Privacidad</h1>
  <p style="text-align: justify;">Nos reservamos el derecho de modificar o actualizar esta Política de Privacidad en cualquier momento. Te recomendamos que revises periódicamente esta página para estar al tanto de cualquier cambio. El uso continuado de nuestra aplicación después de la publicación de cambios en esta Política de Privacidad constituye tu aceptación de dichos cambios.</p>
  <h1>Contacto</h1>
  <p style="text-align: justify;">Si tienes alguna pregunta o inquietud acerca de nuestra Política de Privacidad, no dudes en contactarnos a través de [correo electrónico de contacto].</p>
  <p>Última actualización: 14 de junio del 2023</p>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="dark" (click)="scrollToTop()">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
